//===-- array_test_out_of_bounds.p.jinja -------------------------------------------*- C++ -*-===//
//
// Part of the Prysma Project, under the GNU GPL v3.0 or later.
// See LICENSE at the project root for license information.
// SPDX-License-Identifier: GPL-3.0-or-later WITH Prysma-exception-1.0
//
//===----------------------------------------------------------------------===//

fn bool arrayTestOutOfBounds_{{ type_name }}()
{
    dec string[] feature = "3.array_test_out_of_bounds : ";
    call print(ref feature);
    dec {{ type_name }}[4] array = [{{ val1 }}, {{ val1 }}, {{ val1 }}, {{ val1 }}];

    aff array[4] = {{ val2 }}; // Must generate a compilation error
    return true; // Must not be reached
}

fn int32 main()
{
    call print(call arrayTestOutOfBounds_{{ type_name }}());
    return 0;
}
