---
# Configuration pour clangd

InlayHints:
  Enabled: true
  ParameterNames: true
  DeducedTypes: true

CompileFlags:
  Add: 
    - "-std=c++17"
    - "-Wall"
    - "-Wextra"
    - "-Wpedantic"
    - "-Wshadow"
    - "-Wnon-virtual-dtor"
    - "-Wnull-dereference"
    - "-O0"
    - "-g"
  CompilationDatabase: build

---

If:
  PathMatch: Tests/.*
CompileFlags:
  CompilationDatabase: Tests/build

---

Index:
  Background: Build

Diagnostics:
  ClangTidy:
    Add:
      - "modernize-*"
      - "readability-*"
      - "performance-*"
    Remove:
      - "modernize-use-trailing-return-type"
      - "readability-magic-numbers"

Hover:
  ShowAKA: true

Completion:
  AllScopes: true