---
# Configuration globale pour Prysma
InlayHints:
  Enabled: true
  ParameterNames: true
  DeducedTypes: true
  Designators: true       
  TypeNameLimit: 0
  BlockEnd: true

CompileFlags:
  Add: 
    - "-fno-rtti"
    - "-std=c++26"
    - "-g3"
    - "-O0"
    - "-fsanitize=address"
    - "-fsanitize=undefined"
    - "-fstack-protector-all"
    - "-fno-omit-frame-pointer"
    - "-D_DEBUG"
    - "-Wall"
    - "-Wextra"
    - "-Wpedantic"
    - "-Wshadow"
    - "-Wnon-virtual-dtor"
    - "-Wold-style-cast"
    - "-Wcast-align"
    - "-Wunused"
    - "-Woverloaded-virtual"
    - "-Wconversion"
    - "-Wsign-conversion"
    - "-Wnull-dereference"
    - "-Wformat=2"
    - "-ffunction-sections"
    - "-fdata-sections"
    - "-fcolor-diagnostics"
  CompilationDatabase: build

Index:
  Background: Build

Diagnostics:
  UnusedIncludes: Strict
  MissingIncludes: Strict
  ClangTidy:
    Add: 
      - bugprone-*
      - cppcoreguidelines-*
      - modernize-*
      - performance-*
      - readability-*
      - cert-*
      - hicpp-*
      - clang-analyzer-*
      - misc-*
      - portability-*
      - concurrency-*
    CheckOptions:
      readability-identifier-naming.VariableCase: camelCase

Hover:
  ShowAKA: true

Completion:
  AllScopes: true
