#ifndef EXPRESSION_{{nom | upper}}_H
#define EXPRESSION_{{nom | upper}}_H

#include "Compiler/AST/Nodes/Expression/IExpressionEngine.h"
#include "Compiler/AST/Registry/ContextExpression.h"

class Expression{{nom}} : public IExpressionEngine
{
private:
    ContextExpression& _context;

public:
    Expression{{nom}}(ContextExpression& expressionContext);
    ~Expression{{nom}}() override;

    auto build(std::vector<Token>& equation) -> INode* override;
};

#endif /* EXPRESSION_{{nom | upper}}_H */