#ifndef PARSEUR_{{nom | upper}}_H
#define PARSEUR_{{nom | upper}}_H

#include "Compiler/AST/Registry/ContextParser.h"
#include "Compiler/Lexer/Lexer.h"
#include "Compiler/Parser/Interfaces/IParser.h"
#include "Compiler/Parser/ParserBase.h"


class Parser{{nom}} : public IParser, public ParserBase
{
private:
    ContextParser& _contextParser;
    
public: 

    Parser{{nom}}(ContextParser& contextParser);
    ~Parser{{nom}}();
    
    auto parse(std::vector<Token>& tokens, int& index) -> INode* override;
};


#endif /* PARSEUR_{{nom | upper}}_H */





