#ifndef PARSEUR_{{nom | upper}}_CPP
#define PARSEUR_{{nom | upper}}_CPP

#include "{{ include_parser }}"


Parser{{nom}}::Parser{{nom}}(ContextParser& contextParser) 
    : _contextParser(contextParser)
{}

Parser{{nom}}::~Parser{{nom}}()
{}

INode* Parser{{nom}}::parser(std::vector<Token>& tokens, int& index)
{
  // TODO: Implémenter le parser pour {{nom}}
  (void)tokens;
  (void)index;
  return nullptr;
}

#endif /* PARSEUR_{{nom | upper}}_CPP */





