#ifndef VISITEUR_GENERAL_GRAPHVIZ_H
#define VISITEUR_GENERAL_GRAPHVIZ_H

#include "Compilateur/GrapheVisuel/SortieGrapheVisuelTexte.h"
#include "Compilateur/Visiteur/VisiteurBaseGenerale.h"
#include <stack>
#include <vector>

class VisiteurGeneralGraphViz : public VisiteurBaseGenerale
{
private:
    SortieGrapheVisuelTexte _sortieGrapheVisuel;
    std::stack<int, std::vector<int>> _pileIds;

public:
    VisiteurGeneralGraphViz(SortieGrapheVisuelTexte sortieGrapheVisuel);
    ~VisiteurGeneralGraphViz() override;
    void generer();

{% for nom in noeuds %}
    void visiter(Noeud{{ nom }}* noeud{{ nom }}) override;
{% endfor %}
};

#endif
