//===-- mem_reassignment.p.jinja --------------------------------*- C++ -*-===//
//
// Part of the Prysma Project, under the GNU GPL v3.0 or later.
// See LICENSE at the project root for license information.
// SPDX-License-Identifier: GPL-3.0-or-later WITH Prysma-exception-1.0
//
//===----------------------------------------------------------------------===//

fn bool testNewDeleteReassignment_{{ type_name }}()
{
   dec string[] feature = "5.test_new_delete_reassignment : ";
   call print(ref feature);
   dec ptr p = new {{ type_name }};
   aff p = {{ val_10 }};
   aff p = {{ val_99 }};
   dec {{ type_name }} value = unref p;
   delete p;
   if (value == {{ val_99 }}) {
      return true;
   } else {
      return false;
   }
   return false;
}
fn int32 main() {
    call print(call testNewDeleteReassignment_{{ type_name }}());
    return 0;
}
