//===-- mem_pass_two_ptr.p.jinja -------------------------------------------*- C++ -*-===//
//
// Part of the Prysma Project, under the GNU GPL v3.0 or later.
// See LICENSE at the project root for license information.
// SPDX-License-Identifier: GPL-3.0-or-later WITH Prysma-exception-1.0
//
//===----------------------------------------------------------------------===//

fn {{ type_name }} readAndAdd_{{ type_name }}(arg ptr ptrA, arg ptr ptrB)
{
   dec {{ type_name }} a = unref ptrA;
   dec {{ type_name }} b = unref ptrB;
   dec {{ type_name }} sum = a + b;
   return sum;
}

fn bool testPassTwoPtrByArgument_{{ type_name }}()
{
   dec string[] feature = "2.test_pass_two_ptr_by_argument : ";
   call print(ref feature);
   dec ptr p1 = new {{ type_name }};
   dec ptr p2 = new {{ type_name }};
   aff p1 = {{ val_30 }};
   aff p2 = {{ val_70 }};
   dec {{ type_name }} result = call readAndAdd_{{ type_name }}(p1, p2);
   delete p1;
   delete p2;
   if (result == {{ val_100 }}) {
      return true;
   } else {
      return false;
   }
   return false;
}

fn int32 main() {
    call print(call testPassTwoPtrByArgument_{{ type_name }}());
    return 0;
}
